<div class="container">
<div class="row justify-content-center">
<div class="card col-md-6">
    <div class="card-header alert alert-primary">
      Realizar Cambio
    </div>
    <div class="card-body container">
      <form #cambioMonedaForm="ngForm">
        <div class="form-group row mb-1">
            <label for="montoBase" class="col-form-label-sm col-sm-4">Monto Base</label>
            <div class="col-md-8 pl-0">
              <input type="text" class="form-control form-control-sm mb-0" [(ngModel)]="cambioMonedaInput.montoBase"
                name="montoBase" required>
            </div>
          </div>
          <div class="form-group row mb-1">
            <label for="monedaDestino" class="col-form-label-sm col-sm-4">Moneda Destino</label>
            <div class="col-md-8 pl-0">
              <input type="text" class="form-control form-control-sm mb-0" [(ngModel)]="cambioMonedaInput.monedaDestino"
                name="monedaDestino" required>
            </div>
          </div>
          <div class="form-group row mb-1">
            <label for="monedaOrigen" class="col-form-label-sm col-sm-4">Moneda Origen</label>
            <div class="col-md-8 pl-0">
              <input type="text" class="form-control form-control-sm mb-0" [(ngModel)]="cambioMonedaInput.monedaOrigen"
                name="monedaOrigen" required>
            </div>
          </div>

          <button class="btn btn-primary" role="button" [disabled]="!cambioMonedaForm.form.valid" (click)='realizarCambio()'>Ejecutar</button>
        </form>
    </div>
  </div>
  <div class="col-md-6">
    <app-cambio-output *ngIf="procesoEjecutado" [cambioMonedaOutput]="cambioMonedaSalida"></app-cambio-output>
  </div>
</div>
</div>

