<div>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" routerLink="/cambioMonedaLink">
      <img src="../assets/image/logo_exchange.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Bootstrap
    </a>
  </nav>
</div>

<div>
  <router-outlet></router-outlet>
</div>
 





