
<div class="container">
    <div class="row justify-content-center">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
              Featured
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Monto inicial: {{cambioMonedaOutput.monto}}</li>
              <li class="list-group-item">Monto cambiado: {{cambioMonedaOutput.montoCambio}}</li>
              <li class="list-group-item">Moneda origen: {{cambioMonedaOutput.monedaOrigen}}</li>
              <li class="list-group-item">Moneda destino: {{cambioMonedaOutput.monedaDestino}}</li>
              <li class="list-group-item">Tipo de cambio: {{cambioMonedaOutput.tipoCambio}}</li>
            </ul>
          </div>
    </div>
</div>
